In [ ]:
# this failed becuase break is a keyword

In [1]:
break = 5

SyntaxError: invalid syntax (2709188746.py, line 1)

In [2]:
my_yob = 1992
curr_yr = 2024
my_age = curr_yr - my_yob
print(my_age)

32

In [4]:
my_first_name = 'Pratibha'
my_last_name = 'Medepalli'
my_name = my_first_name + ' ' + my_last_name
print(my_name)

Pratibha Medepalli

In [5]:
_nation = 5
1record = 2
record1 = 4
record_one = 6 
record-one = 3
record^one = 9

SyntaxError: invalid syntax (1272310977.py, line 2)

In [11]:
txt = "Hello World"
x = txt[2:5]
print(x)

llo

In [12]:
#Insert the correct syntax to add a placeholder for the age parameter.
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

In [13]:
print(bool("abc"))

True

In [14]:
x = ("app", "ban", "lem")
y =list(x)
y[1] = "kiw"
x = tuple(y)
print(x)

('app', 'kiw', 'lem')

In [ ]:
#You have a football field that is 92 meter long and 48.8 meter wide. Find out total area using python and print it.

In [15]:
length = 92
breadth = 48.8
area = length*breadth
print(area)

4489.599999999999

In [ ]:
#You bought 9 packets of potato chips from a store. Each packet costs 1.49 dollar and you gave shopkeeper 20 dollar. Find out using python, how many dollars is the shopkeeper going to give you back?

In [17]:
num_packets = 9
cost_per_unit = 1.49
amount_paid = 20
balance = amount_paid - (num_packets * cost_per_unit)
print(balance)

6.59

In [ ]:
#You want to replace tiles in your bathroom which is exactly square and 5.5 feet is its length. If tiles cost 500 rs per square feet, how much will be the total cost to replace all tiles. Calculate and print the cost using python (Hint: Use power operator ** to find area of a square)

In [19]:
len_side = 5.5
area = len_side ** 2
cost_per_sqft = 500
total_cost = area * cost_per_sqft
print(total_cost)

15125.0

In [ ]:
#Print binary representation of number 17

In [21]:
num=17
print('binary of 17 is:',format(num,'b'))

binary of 17 is: 10001

In [ ]:
'''Create 3 variables to store street, city and country, 
now create address variable to store entire address. 
Use two ways of creating this variable, one using + operator 
and the other using f-string. Now Print the address in such a way that the street, 
city and country prints in a separate line

In [31]:
my_street = 'lane 4'
my_city = 'new city'
my_country = 'new country'
print("+address is:\n", my_street + '\n' + my_city + '\n' + my_country)
print(f"address is:\n{my_street}\n{my_city}\n{my_country}")

+address is:
 lane 4
new city
new country
address is:
lane 4
new city
new country

In [ ]:
'''Create a variable to store the string "Earth revolves around the sun"
Print "revolves" using slice operator
Print "sun" using negative index

In [34]:
new_string = 'Earth revolves around the sun'
print(new_string[6:14])
print(new_string[-3:])

revolves
sun

In [ ]:
'''Create two variables to store how many fruits and vegetables you eat in a day. 
Now Print "I eat x veggies and y fruits daily" where x and y presents vegetables and fruits that you eat everyday.
Use python f string for this.'''

In [35]:
x = 2
y = 4
print(f'I eat {x} veggies and {y} fruits daily')

I eat 2 veggies and 4 fruits daily

In [ ]:
'''
I have a string variable called s='maine 200 banana khaye'. 
This of course is a wrong statement, the correct statement is 'maine 10 samosa khaye'. 
Replace incorrect words in original string with new ones and print the new string. 
Also try to do this in one line.
'''

In [36]:
s='maine 200 banana khaye'
r = 'maine 10 samosa khaye'
x = s.replace("200 banana", "10 samosa")
print(x)

maine 10 samosa khaye

In [ ]:
'''Let us say your expense for every month are listed below,
January - 2200
February - 2350
March - 2600
April - 2130
May - 2190
Create a list to store these monthly expenses and using that find out,

1. In Feb, how many dollars you spent extra compare to January?
2. Find out your total expense in first quarter (first three months) of the year.
3. Find out if you spent exactly 2000 dollars in any month
4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
5. You returned an item that you bought in a month of April and
got a refund of 200$. Make a correction to your monthly expense list
based on this

In [49]:
#exp_list = [['January','2200'],['February','2350'],['March','2600'],['April','2130'],['May','2190']]
exp_list = [2200,2350,2600,2130,2190]
#ans1
print(f'difference is {exp_list[1] - exp_list[0]}')
#ans2
i=0
ans_2 = 0
qrtr = 3
for i in range(qrtr):
    ans_2 += exp_list[i]
print(f'total expense of first quarter is {ans_2}')
#ans_3
i=0
for i in range(len(exp_list)):
    if exp_list[i] == 2000:
        print("YES 2000 spent")        
#or 
print('is 2000 spent in any month: ', 2000 in exp_list)
#ans4
exp_list.append(1980)
print(exp_list)
#ans5
exp_list[3] = exp_list[3] - 200
print('corrected list: ', exp_list )

difference is 150
total expense of first quarter is 7150
is 2000 spent in any month:  False
[2200, 2350, 2600, 2130, 2190, 1980]
corrected list:  [2200, 2350, 2600, 1930, 2190, 1980]

In [50]:
'''Using this find out,

1. Length of the list
2. Add 'black panther' at the end of this list
3. You realize that you need to add 'black panther' after 'hulk',
   so remove it from the list first and then add it after 'hulk'
4. Now you don't like thor and hulk because they get angry easily :)
   So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool).
   Do that with one line of code.
5. Sort the heros list in alphabetical order (Hint. Use dir() functions to list down all functions available in list)
'''
heros=['spider man','thor','hulk','iron man','captain america']